body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(dro.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    
    height: auto;
    position: absolute;
}

.content-all{
    width: 100%;
    max-width: 1000px;
    background: #17A086;
    margin: auto;
    margin-top: 80px;
    border: 2px solid white;
}

header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: #0A122A;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 265px;
}

.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
    background: #0A122A;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}
.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 400px;
}
li {
    font: oblique bold 85% cursive;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}

article{
    padding: 40px;
}

.content-all label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 10;
    margin-left: 20px;
}

.content-all h2{

    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    text-align: right;
    color: white;
    margin-left: 200px;
   

}

article img{
    width: 100%;
    border: 4px solid white;
    margin-top: 40px;
}

article .parrafo2{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 1px;
}

@media screen and (max-width:400px){
    .content-all h2{
        width:100% ;
    }
}
