body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
background: url(aqui.png);
    background-size: cover;
    background-attachment: fixed;


}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 90px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
     font: oblique bold 190% cursive;

}
input[type="text"],

input[type="password"]{
    font-size: 20px;
    width: 90%;
    padding: 5px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 40px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #201c21;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
     font: oblique bold 80% cursive;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
.logo{
    width: 200px;
    margin-left: 70px;
    margin-top: 50px;
}